
  .animate-logo {
    animation: fadeBounce 0.6s ease-in-out;
  }

  @keyframes fadeBounce {
    0% {
      opacity: 0;
      transform: scale(0.8) translateY(-10px);
    }
    60% {
      opacity: 1;
      transform: scale(1.05) translateY(0);
    }
    100% {
      transform: scale(1) translateY(0);
    }
  }


