<c-row>
  <c-col lg="4" class="mb-4" *ngFor="let setting of costSettings; let i = index">
    <c-card class="h-100">
      <c-card-header>
        <strong><i [class]="setting.icon" class="me-2"></i>{{ setting.name }}</strong>
      </c-card-header>
      <c-card-body>
        <div class="mb-3">
          <label class="form-label">Charge per Message</label>
          <c-input-group>
              <span cInputGroupText><i class="fa-solid fa-indian-rupee-sign"></i></span>
              <input cFormControl class="form-control-sm" type="number" [name]="'charge' + i" [(ngModel)]="setting.charge" [disabled]="updatingService === setting.id" required />
            </c-input-group>
        </div>
        <div class="mb-3">
          <label class="form-label">Profit Margin</label>
          <c-input-group>
              <span cInputGroupText><i class="fa-solid fa-indian-rupee-sign"></i></span>
              <input cFormControl class="form-control-sm" type="number" [name]="'profit' + i" [(ngModel)]="setting.profitMargin" [disabled]="updatingService === setting.id" required />
          </c-input-group>
        </div>
        <div class="mb-3">
          <label class="form-label">Total Charge per Message</label>
          <input cFormControl readonly disabled type="number" [name]="'total' + i" [value]="setting.charge + setting.profitMargin" class="form-control-plaintext ps-3 form-control-sm" />
        </div>
        <div>
          <label class="form-label">Handling Charge per 100 Msgs</label>
          <c-input-group>
              <span cInputGroupText><i class="fa-solid fa-indian-rupee-sign"></i></span>
              <input cFormControl class="form-control-sm" type="number" [name]="'handling' + i" [(ngModel)]="setting.handlingCharge" [disabled]="updatingService === setting.id" required />
          </c-input-group>
        </div>
      </c-card-body>
      <c-card-footer>
        <button cButton (click)="updateService(setting)" [disabled]="updatingService === setting.id" class="btn-sm float-end">
          <c-spinner *ngIf="updatingService === setting.id" size="sm" aria-hidden="true"></c-spinner>
          <span *ngIf="updatingService !== setting.id">Update</span>
          <span *ngIf="updatingService === setting.id" class="ms-1">Updating..</span>
        </button>
      </c-card-footer>
    </c-card>
  </c-col>
</c-row>