<c-modal #CreatePromotionModal [scrollable]="true" alignment="center">
  </c-modal>

<c-modal #DownloadPromotionsModal [scrollable]="true" alignment="center" id="DownloadPromotionsModal">
  <app-download-promotions-model></app-download-promotions-model>
</c-modal>

<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header class="d-flex align-items-center">
      <strong class="w-100 fs-5">Promotions</strong>
      <div class="d-grid gap-3 d-sm-flex justify-content-md-end w-100">
        <button class="btn btn-primary btn-sm" routerLink="/admin/promotion/NewPromotion">
          <svg [cIcon]="icons.cilPenNib" class="me-2"></svg>
          Add New Promotion
        </button>
        <button 
            class="btn btn-primary btn-sm" 
            data-bs-toggle="tooltip" 
            title="Download History"  
            [cModalToggle]="DownloadPromotionsModal.id"
            [disabled]="isLoading">
            <!-- <svg cIcon name="cib-cloud-download" size="md"></svg> -->
            <svg [cIcon]="icons.cilCloudDownload"></svg> Download
        </button>
      </div>
    </c-card-header>

    <c-card-body>
      <div class="d-flex flex-wrap justify-content-start align-items-center py-3">
        <div class="m-2">
          <select cSelect class="form-select form-select-sm" [(ngModel)]="statusFilter" (ngModelChange)="currentPage = 1; loadPromotions()">
            <option value=0>All Statuses</option>
            <option *ngFor="let status of Statuses" [value]="status.id">{{ status.status }}</option>
          </select>
        </div>
        <div class="d-flex gap-1 align-items-center m-2">
          <label for="fromDate" class="text-nowrap">From:</label>
          <input type="date" id="fromDate" class="form-control form-control-sm" [(ngModel)]="fromDateFilter" (ngModelChange)="currentPage = 1; loadPromotions()" />
        </div>
        <div class="d-flex gap-1 align-items-center m-2">
          <label for="toDate" class="text-nowrap">To:</label>
          <input type="date" id="toDate" class="form-control form-control-sm" [(ngModel)]="toDateFilter" (ngModelChange)="currentPage = 1; loadPromotions()" />
        </div>
        <!-- <button class="btn btn-sm btn-success text-white m-2" type="submit">
          <i class="fas fa-filter"></i> 
        </button> -->
        <button class="btn btn-sm btn-danger text-white m-2" type="button" (click)="resetFilters()" [disabled]="isLoading && isStatusLoading">
          <i class="fas fa-arrows-rotate"></i>
        </button>
      </div>
      <div class="table-responsive">
      <table [hover]="true" cTable class="responsive-table">
        <thead class="table-secondary text-center">
          <tr>
            <th class="text-nowrap align-middle">#</th>
            <th (click)="onSort('title')" class="text-nowrap"> Promotion Title
              <svg [cIcon]="icons.cilSortAlphaDown" class="float-end align-middle" *ngIf="sortColumn !== 'title' || (sortColumn === 'title' && sortDirection === 'asc')"></svg>
              <svg [cIcon]="icons.cilSortAlphaUp" class="float-end align-middle" *ngIf="sortColumn === 'title' && sortDirection === 'desc'"></svg>
            </th>
            <th (click)="onSort('date')" class="text-nowrap"> Date
              <svg [cIcon]="icons.cilSortAlphaDown" class="float-end align-middle" *ngIf="sortColumn !== 'date' || (sortColumn === 'date' && sortDirection === 'asc')"></svg>
              <svg [cIcon]="icons.cilSortAlphaUp" class="float-end align-middle" *ngIf="sortColumn === 'date' && sortDirection === 'desc'"></svg>
            </th>
            <th (click)="onSort('store')" class="text-nowrap"> Store Name
              <svg [cIcon]="icons.cilSortAlphaDown" class="float-end align-middle" *ngIf="sortColumn !== 'store' || (sortColumn === 'store' && sortDirection === 'asc')"></svg>
              <svg [cIcon]="icons.cilSortAlphaUp" class="float-end align-middle" *ngIf="sortColumn === 'store' && sortDirection === 'desc'"></svg>
            </th>
            <th (click)="onSort('code')" class="text-nowrap"> Coupon
              <svg [cIcon]="icons.cilSortAlphaDown" class="float-end align-middle" *ngIf="sortColumn !== 'code' || (sortColumn === 'code' && sortDirection === 'asc')"></svg>
              <svg [cIcon]="icons.cilSortAlphaUp" class="float-end align-middle" *ngIf="sortColumn === 'code' && sortDirection === 'desc'"></svg>
            </th>
            <th (click)="onSort('contact')" class="text-nowrap"> Contacts
              <svg [cIcon]="icons.cilSortNumericDown" class="float-end align-middle" *ngIf="sortColumn !== 'contact' || (sortColumn === 'contact' && sortDirection === 'asc')"></svg>
              <svg [cIcon]="icons.cilSortNumericUp" class="float-end align-middle" *ngIf="sortColumn === 'contact' && sortDirection === 'desc'"></svg>
            </th>
            <th (click)="onSort('status')" class="text-nowrap"> Status
              <svg [cIcon]="icons.cilSortAlphaDown" class="float-end align-middle" *ngIf="sortColumn !== 'status' || (sortColumn === 'status' && sortDirection === 'asc')"></svg>
              <svg [cIcon]="icons.cilSortAlphaUp" class="float-end align-middle" *ngIf="sortColumn === 'status' && sortDirection === 'desc'"></svg>
            </th>
            <th class="text-nowrap align-middle">Actions</th>
          </tr>
          <tr>
            <th></th>
            <th><input type="text" class="form-control form-control-sm" placeholder="Filter by title..." [(ngModel)]="titleFilter" (ngModelChange)="currentPage = 1; loadPromotions()" /></th>
            <th></th>
            <th><input type="text" class="form-control form-control-sm" placeholder="Filter by Store..." [(ngModel)]="storeFilter" (ngModelChange)="currentPage = 1; loadPromotions()" /></th>
            <th><input type="text" class="form-control form-control-sm" placeholder="Filter by Code..." [(ngModel)]="codeFilter" (ngModelChange)="currentPage = 1; loadPromotions()" /></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="!isLoading">
          <tr *ngFor="let promo of allPromotions; let i = index">
            <td>{{ ((currentPage - 1) * itemsPerPage) + (i + 1) }}</td>
            <td data-label="Title">{{ promo.title }}</td>
            <td data-label="Date">{{ promo.date | date: 'short' }}</td>
            <td data-label="Store Name" class="text-center">{{ promo.store }}</td>
            <td data-label="Coupon Code" class="text-center">{{ promo.couponCode }}</td>
            <td data-label="Contacts" class="text-center">{{ promo.totalContacts }}</td>
            <td data-label="Status" class="text-center">
              <span class="status-badge" [ngClass]="'status-' + promo.status.toLowerCase()">
                {{ promo.status }}
              </span>
            </td>
            <td data-label="Actions">
              <button class="btn btn-sm btn-outline-primary me-2" [routerLink]="['/admin/promotion/details', promo.id]">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="isLoading">
          <tr cPlaceholderAnimation="glow" *ngFor="let i of [1, 2, 3, 4]">
            <td><span cPlaceholder cPlaceholderSize="sm" cCol="12"></span></td>
            <td data-label="Title"><span cPlaceholder cPlaceholderSize="sm" cCol="12"></span></td>
            <td data-label="Date"><span cPlaceholder cPlaceholderSize="sm" cCol="12"></span></td>
            <td data-label="Store Name"><span cPlaceholder cPlaceholderSize="sm" cCol="12"></span></td>
            <td data-label="Coupon Code"><span cPlaceholder cPlaceholderSize="sm" cCol="12"></span></td>
            <td data-label="Contacts"><span cPlaceholder cPlaceholderSize="sm" cCol="12"></span></td>
            <td data-label="Status"><span cPlaceholder cPlaceholderSize="sm" cCol="12"></span></td>
            <td data-label="Actions"><button cButton color="secondary" cCol="4" cPlaceholder cPlaceholderSize="sm"></button></td>
          </tr>
        </tbody>
      </table>
      </div>
      
      <div class="d-flex justify-content-center m-2" *ngIf="!isLoading && allPromotions.length === 0">
        No promotions found!
      </div>

      <app-pagination *ngIf="!isLoading && allPromotions.length > 0"
        [totalItems]="totalItems"
        [itemsPerPage]="itemsPerPage"
        [currentPage]="currentPage"
        (pageChange)="onPageChange($event)"
        (itemsPerPageChange)="itemsPerPage = $event; onPageChange(1)">
      </app-pagination>
    </c-card-body>
  </c-card>
</c-col>