<c-modal #verticallyCenteredScrollableModal [scrollable]="true" alignment="center"
  id="verticallyCenteredScrollableModal">
  <app-add-store-modal></app-add-store-modal>
</c-modal>

<c-modal #editStoreModal [scrollable]="true" alignment="center" id="editStoreModal">
  <app-edit-store-modal></app-edit-store-modal>
</c-modal>
<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header class="d-flex justify-content-between align-items-center">
      <strong>Store</strong>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
        <button class="btn btn-primary btn-sm px-3 py-1 text-nowrap"
          [cModalToggle]="verticallyCenteredScrollableModal.id">
          Add Store
        </button>
      </div>
    </c-card-header>
    <c-card-body>
      <div class="d-flex flex-wrap gap-2 mb-3 justify-content-start align-items-center">


        <select class="form-select form-select-sm" style="max-width: 160px;" name="storeType">
          <option value="">All Stores</option>
          <option value="online">Online</option>
          <option value="offline">Offline</option>
        </select>

        <select class="form-select form-select-sm" style="max-width: 180px;" name="searchBy">
          <option value="">Search All</option>
          <option value="name">By Name</option>
          <option value="storeCode">By Store Code</option>
          <option value="location">By Location</option>
          <option value="address">By Address</option>
          <option value="contact">By Contact</option>
          <option value="email">By Email</option>
          <option value="category">By Category</option>
        </select>

        <div class="input-group input-group-sm" style="max-width: 300px;">
          <input type="text" class="form-control" placeholder="Search..." />
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>

        <button type="button" class="btn btn-danger btn-sm text-white" title="Reset">
          <i class="fas fa-arrows-rotate"></i>
        </button>

      </div>




      <table [hover]="true" cTable cTable class="responsive-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Logo </th>
            <th scope="col">Store Name</th>
            <th scope="col">Store Code</th>
            <th scope="col">Address</th>
            <th scope="col">Location</th>
            <th scope="col">Contact </th>
            <th scope="col">Email</th>
            <th scope="col">Category</th>
            <th scope="col">Type</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td> <img src="assets/images/angular.jpg" alt="CoreUI for Angular"></td>
            <td>Otto</td>
            <td>sc32</td>
            <td>VH nagar</td>
            <td>Ravipuram</td>
            <td>4352635266</td>
            <td>Otto&#64;gmail.com</td>
            <td>Makeup</td>
            <td>Online</td>
            <td> <button class="btn btn-sm btn-outline-primary" title="Edit" [cModalToggle]="editStoreModal.id">
                <i class="fas fa-pen"></i>
              </button>


            </td>

          </tr>
          <tr>
            <td>2</td>
            <td> <img src="assets/images/angular.jpg" alt="CoreUI for Angular"></td>
            <td>LAkshmi Components</td>
            <td>sc32</td>
            <td>VH nagar</td>
            <td>Ravipuram</td>
            <td>4352635266</td>
            <td>Otto&#64;gmail.com</td>
            <td>Lifestyle</td>
            <td>Offline</td>
            <td> <button class="btn btn-sm btn-outline-primary" title="Edit" [cModalToggle]="editStoreModal.id">
                <i class="fas fa-pen"></i>
              </button>


            </td>
          </tr>
        </tbody>
      </table>
    </c-card-body>
  </c-card>
</c-col>