img{
    width: 100px;
    height: 100px;
}
.responsive-table {
  width: 100%;
  min-width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

.responsive-table thead tr th,
.responsive-table tbody tr td {
  white-space: nowrap;
}

@media (max-width: 991.98px) {
  .responsive-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .responsive-table table,
  .responsive-table thead,
  .responsive-table tbody,
  .responsive-table th,
  .responsive-table td,
  .responsive-table tr {
    display: revert;
  }
}