

<c-modal #verticallyCenteredScrollableModal
         [scrollable]="true"
         alignment="center"
         id="verticallyCenteredScrollableModal">
  <c-modal-header>
    <h5 cModalTitle>New Store</h5>
    <button [cModalToggle]="verticallyCenteredScrollableModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <p>
      This is some placeholder content to show a vertically centered modal. We've added some extra copy here to show
      how vertically centering the modal works when combined with scrollable modals. We also use some repeated line
      breaks to quickly extend the height of the content, thereby triggering the scrolling. When content becomes
      longer than the predefined max-height of modal, content will be cropped and scrollable within the modal.
    </p>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="verticallyCenteredScrollableModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary">Understood</button>
  </c-modal-footer>
</c-modal>
<c-col xs="12">
    <c-card class="mb-4">
       <c-card-header class="d-flex justify-content-between align-items-center">
            <strong>Store</strong>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                <button cButton color="primary" [cModalToggle]="verticallyCenteredScrollableModal.id">Add Store</button>
            </div>
        </c-card-header>
        <c-card-body>
                <table [hover]="true" cTable>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Logo </th>
                            <th scope="col">Store Name</th>
                            <th scope="col">Store Code</th>
                            <th scope="col">Address</th>
                            <th scope="col">Location</th>
                            <th scope="col">Contact </th>
                            <th scope="col">Email</th>
                            <th scope="col">Category</th>
                            <th scope="col">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td> <img src="assets/images/angular.jpg" alt="CoreUI for Angular"></td>
                            <td>Otto</td>
                            <td>sc32</td>
                            <td>VH nagar</td>
                            <td>Ravipuram</td>
                            <td>4352635266</td>
                            <td>Otto&#64;gmail.com</td>
                            <td>Makeup</td>
                            <td>Online</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td> <img src="assets/images/angular.jpg" alt="CoreUI for Angular"></td>
                            <td>LAkshmi Components</td>
                            <td>sc32</td>
                            <td>VH nagar</td>
                            <td>Ravipuram</td>
                            <td>4352635266</td>
                            <td>Otto&#64;gmail.com</td>
                            <td>Lifestyle</td>
                            <td>Offline</td>
                        </tr>
                    </tbody>
                </table>
        </c-card-body>
    </c-card>
</c-col>