<div class="pagination" *ngIf="totalPages > 1">
    
  <button (click)="onPrev()" [disabled]="currentPage === 1">
    &lt; Prev
  </button>

  <ng-container *ngFor="let page of pages">
    <button 
      *ngIf="isNumber(page)"
      (click)="selectPage(page)"
      [class.active]="page === currentPage">
      {{ page }}
    </button>
    <span *ngIf="!isNumber(page)" class="ellipsis">
      {{ page }}
    </span>
  </ng-container>

  <button (click)="onNext()" [disabled]="currentPage === totalPages">
    Next &gt;
  </button>

</div>


  <div class="page-size-selector">
        <label for="pageSizeSelect">Items per page:</label>
        <select id="pageSizeSelect" [value]="itemsPerPage" (change)="onPageSizeChange($event)">
            <option *ngFor="let size of pageSizeOptions" [value]="size" [selected]="size === itemsPerPage">
                {{ size }}
            </option>
        </select>
    </div>