.responsive-table {
  width: 100%;
  min-width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

td[data-label="District Name"] {
  vertical-align: middle;
}

.responsive-table thead tr th,
.responsive-table tbody tr td {
  white-space: nowrap;
}

thead th {
  vertical-align: middle !important;
}


@media (max-width: 991.98px) {
  .responsive-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .responsive-table table,
  .responsive-table thead,
  .responsive-table tbody,
  .responsive-table th,
  .responsive-table td,
  .responsive-table tr {
    display: revert;
  }
}