<c-modal #editLocationModal [scrollable]="true" alignment="center" id="editLocationModal">
    <app-edit-location-modal [location]="selectedLocation"></app-edit-location-modal>
</c-modal>


<c-modal #verticallyCenteredScrollableModal [scrollable]="true" alignment="center"
    id="verticallyCenteredScrollableModal">
    <app-add-location-modal></app-add-location-modal>
</c-modal>

<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header class="d-flex justify-content-between align-items-center">
            <strong class="fs-5">Location</strong>
            <button [cModalToggle]="verticallyCenteredScrollableModal.id"
                class="btn btn-primary btn-sm px-3 py-1 text-nowrap" cButton color="primary">Add Location</button>
        </c-card-header>
        <c-card-body>
            <div class="d-flex flex-wrap gap-2 mb-3 justify-content-start align-items-center">
                <th data-label="District Filter">
                    <select class="form-select form-select-sm" [(ngModel)]="selectedDistrict"
                        (ngModelChange)="applyFilters()">
                        <option *ngFor="let district of districts" [value]="district.value">
                            {{ district.name }}
                        </option>
                    </select>
                </th>
                <th data-label="Location Filter">
                    <div class="d-flex align-items-center">
                        <input type="text" placeholder="Filter Location" [(ngModel)]="locationFilter"
                            (input)="applyFilters()" class="form-control form-control-sm" />
                        <button type="button" class="btn btn-link p-0 ms-2"
                            [title]="locationSortDirection === 'asc' ? 'Sort Descending' : (locationSortDirection === 'desc' ? 'Clear Sort' : 'Sort Ascending')"
                            (click)="toggleLocationSort()">
                            <svg [cIcon]="icons.cilSortAlphaUp"></svg>
                        </button>
                    </div>
                </th>
                <th data-label="Pincode Filter">
                    <input type="text" [(ngModel)]="pincodeFilter" placeholder="Filter Pincode" (input)="applyFilters()"
                        class="form-control form-control-sm" />
                </th>
                <th data-label="Reset" class="text-center">
                    <button type="button" class="reset btn btn-danger btn-sm text-white" title="Reset"
                        (click)="resetFilters()">
                        <i class="fas fa-arrows-rotate"></i>
                    </button>
                </th>
            </div>
            <table cTable class="responsive-table">
                <thead>
                    <tr>
                        <th scope="col" data-label="#">#</th>
                        <th scope="col" data-label="District Name">District Name</th>
                        <th scope="col" data-label="Location Name">Location Name</th>
                        <th scope="col" data-label="Pincode">Pincode</th>
                        <th scope="col" data-label="Latitude">Latitude</th>
                        <th scope="col" data-label="Longitude">Longitude</th>
                        <th scope="col" data-label="Active">Active</th>
                        <th scope="col" data-label="Edit">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let loc of filteredLocations; let i = index">
                        <tr>
                            <td data-label="#">{{ i+1 }}</td>
                            <td *ngIf="shouldShowDistrict(i)" [attr.rowspan]="getDistrictRowspan(i)"
                                data-label="District Name" style="vertical-align: middle;">
                                {{ loc.district }}
                            </td>
                            <td data-label="Location Name">{{ loc.location }}</td>
                            <td data-label="Pincode">{{ loc.pincode }}</td>
                            <td data-label="Latitude">{{ loc.latitude }}</td>
                            <td data-label="Longitude">{{ loc.longitude }}</td>
                            <td data-label="Active">
                                <c-form-check [switch]="true">
                                    <input cFormCheckInput checked type="checkbox" />
                                </c-form-check>
                            </td>
                            <td data-label="">
                                <button class="btn btn-sm btn-outline-primary" title="Edit"
                                    [cModalToggle]="editLocationModal.id" (click)="openEditModal(loc)">
                                    <i class="fas fa-pen"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </c-card-body>
    </c-card>
</c-col>