<c-modal #verticallyCenteredScrollableModal [scrollable]="true" alignment="center"
    id="verticallyCenteredScrollableModal">
    <app-add-location-modal></app-add-location-modal>
</c-modal>

<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header class="d-flex justify-content-between align-items-center">
            <strong>Location</strong>
            <button [cModalToggle]="verticallyCenteredScrollableModal.id" cButton color="primary">Add Location</button>
        </c-card-header>
        <c-card-body>
            <table [hover]="true" cTable class="responsive-table">
                <thead>
                    <tr>
                        <th data-label="#"></th>
                        <th data-label="District Filter">
                            <select class="form-control">
                                <option value="">Select District</option>
                                <option value="district1">District 1</option>
                                <option value="district2">District 2</option>
                                <option value="district3">District 3</option>
                            </select>
                        </th>
                        <th data-label="Location Filter">
                            <div class="d-flex align-items-center">
                                <input type="text" placeholder="Filter Location" class="form-control" />
                                <button type="button" class="btn btn-link p-0 ms-2" title="Sort Ascending">
                                    <span>&uarr;</span>
                                </button>
                            </div>
                        </th>
                        <th data-label="Pincode Filter">
                            <input type="text" placeholder="Filter Pincode" class="form-control" />
                        </th>
                        <th data-label="Latitude Filter"></th>
                        <th data-label="Longitude Filter"></th>
                        <th data-label="Active Filter"></th>
                        <th data-label="Action Filter"></th>
                    </tr>
                    <tr>
                        <th scope="col" data-label="#">#</th>
                        <th scope="col" data-label="District Name">District Name</th>
                        <th scope="col" data-label="Location Name">Location Name</th>
                        <th scope="col" data-label="Pincode">Pincode</th>
                        <th scope="col" data-label="Latitude">Latitude</th>
                        <th scope="col" data-label="Longitude">Longitude</th>
                        <th scope="col" data-label="Active">Active</th>
                        <th scope="col" data-label="Actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let loc of locations; let i = index">
                        <tr>
                            <td data-label="#">{{ i+1 }}</td>
                            <td *ngIf="shouldShowDistrict(i)" [attr.rowspan]="getDistrictRowspan(i)"
                                data-label="District Name">
                                {{ loc.district }}
                            </td>
                            <td data-label="Location Name">{{ loc.location }}</td>
                            <td data-label="Pincode">{{ loc.pincode }}</td>
                            <td data-label="Latitude">{{ loc.latitude }}</td>
                            <td data-label="Longitude">{{ loc.longitude }}</td>
                            <td data-label="Active">
                                <c-form-check [switch]="true">
                                    <input cFormCheckInput checked type="checkbox" />
                                </c-form-check>
                            </td>
                            <td data-label="">
                                <button type="button" class="btn btn-link p-0" title="Edit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M12.146.854a.5.5 0 0 1 .708 0l2.292 2.292a.5.5 0 0 1 0 .708l-9.439 9.439a.5.5 0 0 1-.168.11l-4 1.5a.5.5 0 0 1-.65-.65l1.5-4a.5.5 0 0 1 .11-.168l9.439-9.439zm.708-.708a1.5 1.5 0 0 0-2.121 0l-9.439 9.439a1.5 1.5 0 0 0-.329.504l-1.5 4a1.5 1.5 0 0 0 1.95 1.95l4-1.5a1.5 1.5 0 0 0 .504-.329l9.439-9.439a1.5 1.5 0 0 0 0-2.121l-2.292-2.292z" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </c-card-body>
    </c-card>
</c-col>