.nav{
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-item{
        margin: 0 15px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        padding-bottom: 5px;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        background: rgb(255, 255, 255);

        &.active, &:hover{
            border-bottom: 2px solid #ff0000;
        }
    }
}