
.bg-light {
background: linear-gradient(to right, #5b8ce8 10%, #81a0ef 40%, #70b4ef 90%);

}

.card {
  border-radius: 10px;
  background-color: #ffffff;
}

.btn-primary {
  background-color: #0061f2;
  border-color: #0061f2;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto; /* Center the button */
}
.btn-login {
  padding: 0.6rem 2rem;
  font-size: 1rem;
  width: 300px; /* Set a longer horizontal width */
  max-width: 100%; /* Prevent overflow on smaller screens */
  margin: 0 auto; /* Center the button */
  display: block;
}


.btn-primary:hover {
  background-color: #004bb5;
}

/* Make the forgot password and sign up links look unified */
.auth-links {
  font-size: 0.9rem;
}

.auth-links a {
  color: #0061f2;
  text-decoration: none;
}

.auth-links a:hover {
  text-decoration: underline;
}

.input-group-text {
  background-color: transparent;
  border: none;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  color: #6c757d; 
}

.input-group .form-control {
  border-radius: 0.375rem;
}
