::ng-deep .wide-modal .modal-dialog {
  max-width: 900px;
}

::ng-deep .img{
    width: 50px;
    height: 50px;
}

::ng-deep .card-img-top {
  width: 50%;
  height: auto;
}

.nav-icon-checked {
    width: 30px;
    height: 30px;
}

.nav-icon-unchecked {
    width: 20px;
    height: 20px;
}

.nav[disabled] {
    pointer-events: none;
    opacity: 0.5;
    color: black;
}

.nav {
    color: rgb(52, 52, 52);
    font-weight: lighter;
}

  /* --- Carousel Styles --- */
  // .coupon-scroller::-webkit-scrollbar { display: none; }
  // .coupon-scroller { -ms-overflow-style: none; scrollbar-width: none; scroll-behavior: smooth; }