

<c-modal
  #FindStoreModal
  [scrollable]="true"
  alignment="center"
  id="FindStoreModal"
  class="wide-modal"
>
    <c-modal-header>
        <h5 cModalTitle>Find and Add Store Contacts</h5>
        <button
            [cModalToggle]="FindStoreModal.id"
            class="btn-close btn-sm"
            cButtonClose
            ></button>
    </c-modal-header>

    <c-modal-body class="p-4">
        <c-nav variant="tabs" class="justify-content-around">
            <c-nav-item cNavLink [active]="currentStep === 1" (click)="changeStore()" class="d-flex align-items-center gap-2 nav">
                <img src="./../../../../../assets/images/checked.png" alt="Check Icon" class="nav-icon-checked" *ngIf="stepCheck.store"> 
                <img src="./../../../../../assets/images/unchecked.png" alt="Uncheck Icon" class="nav-icon-unchecked" *ngIf="!stepCheck.store">
                <strong>Select Store</strong>
            </c-nav-item>
            <c-nav-item cNavLink [active]="currentStep === 2" (click)="currentStep !== 1 ? changeCoupon() : null" class="d-flex align-items-center gap-2 nav">
                <img src="./../../../../../assets/images/checked.png" alt="Check Icon" class="nav-icon-checked" *ngIf="stepCheck.coupon"> 
                <img src="./../../../../../assets/images/unchecked.png" alt="Uncheck Icon" class="nav-icon-unchecked" *ngIf="!stepCheck.coupon">
                <strong>Select Coupon</strong>
            </c-nav-item>
            <c-nav-item cNavLink [active]="currentStep === 3" class="d-flex align-items-center gap-2 nav">
                <img src="./../../../../../assets/images/checked.png" alt="Check Icon" class="nav-icon-checked" *ngIf="stepCheck.contacts"> 
                <img src="./../../../../../assets/images/unchecked.png" alt="Uncheck Icon" class="nav-icon-unchecked" *ngIf="!stepCheck.contacts">
                <strong>Define Contacts</strong>
            </c-nav-item>
        </c-nav>

        <div [ngSwitch]="currentStep" class="mt-4">
            <ng-container *ngSwitchCase="1">
                <form [formGroup]="filterForm" *ngIf="!isStore">
                    <h6 class="mb-3">Choose Store</h6>
                    <div class="d-flex gap-4">
                        <c-input-group>
                            <span cInputGroupText><i class="fas fa-search"></i></span>
                            <input cFormControl class="form-control-sm" type="text" formControlName="storeName" placeholder="Search by name..." />
                        </c-input-group>
                        <button cButton color="secondary" class="btn btn-sm d-flex align-items-center" (click)="searchStores()" [disabled]="!filterForm.get('storeName')?.value || isStoreLoading">
                            Search <i class="fas fa-search ms-2"></i>
                        </button>
                    </div>
                </form>

                <h6 *ngIf="!isStore" class="mt-3">Search Results</h6>

                <div *ngIf="isStoreLoading && !isStore" class="d-flex justify-content-center my-5">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

                <div *ngIf="!isStoreLoading && searchResults.length === 0 && !isStore" class="d-flex justify-content-center my-5">
                    <span>No stores found. Please try a different search.</span>
                </div>

                <ng-container *ngIf="searchResults && searchResults.length > 0 && !isStoreLoading && !isStore">
                    <c-row class="mt-3">
                        <c-col *ngFor="let store of searchResults; let i = index" xs="6" md="3">
                            <c-card (click)="selectStore(store)" style="cursor: pointer; height: 100%;">
                            
                                <c-card-body class="text-center">
                                    <img [src]="store.storeLogo" class="img" />
                                </c-card-body>
                                
                                <c-card-footer class="d-flex justify-content-between">
                                    <!-- <small class="text-muted"># {{ currentPage * itemsPerPage - itemsPerPage + i + 1 }}</small> -->
                                    <span>{{ store.store }}</span>
                                </c-card-footer>
                            </c-card>
                        </c-col>
                    </c-row>

                    <app-pagination
                        [currentPage]="currentPage"
                        [itemsPerPage]="itemsPerPage"
                        [totalItems]="totalItems"
                        [fromModel]="true"
                        (pageChange)="onPageChange($event)"
                    ></app-pagination>

                </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="2">
                <div
                *ngIf="selectedStore"
                class="p-3 mb-3 rounded"
                style="background-color: #f8f9fa"
                >
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                    <small class="text-muted">Selected Store</small>
                    <h6 class="mb-0">{{ selectedStore.store }}</h6>
                    </div>
                    <button *ngIf="!isStore" cButton class="btn btn-danger btn-sm text-muted" (click)="changeStore()">
                        <i class="fas fa-arrows-rotate"></i> Change
                    </button>
                </div>
                </div>

                <h6 class="mt-3">Choose Coupon</h6>
                <div class="d-flex gap-4">
                <c-input-group>
                    <span cInputGroupText> <i class="fas fa-search"></i> </span>
                    <input cFormControl class="form-control-sm" type="text" [(ngModel)]="couponText" (input)="searchCoupon()" placeholder="Search by coupon code..."/>
                </c-input-group>
                <button
                    cButton
                    color="secondary"
                    class="btn btn-sm d-flex align-items-center"
                    (click)="searchCoupon()"
                    [disabled]="!couponText || isCouponLoading"
                >
                    Search <i class="fas fa-search ms-2"></i>
                </button>
                </div>

                <div *ngIf="isCouponLoading" class="d-flex justify-content-center my-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                </div>

                <div
                *ngIf="
                    !isCouponLoading &&
                    (!couponDetails || couponDetails.length === 0)
                "
                class="d-flex justify-content-center my-5"
                >
                <span>No coupons found.</span>
                </div>

                <c-row *ngIf="!isCouponLoading && couponDetails && couponDetails.length > 0" class="mt-3">
                    <div class="coupon-scroller d-flex gap-3" style="overflow-x: auto; flex-wrap: nowrap; padding: 0.5rem; scroll-behavior: auto; ">
                        <div *ngFor="let coupon of couponDetails" class="card p-2 d-flex flex-row" style="flex: 0 0 240px; text-decoration: none; cursor: pointer;" (click)="selectCoupon(coupon)">
                            <img [src]="coupon.couponImage" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">{{ coupon.couponCode }}</h6>
                                <p class="card-text">{{ coupon.name }}</p>
                            </div>
                        </div>
                    </div>
                </c-row>
            </ng-container>

            <ng-container *ngSwitchCase="3">
                <h6>Confirm Selections</h6>

                <div class="p-3 mb-3 rounded" style="background-color: #f8f9fa">
                <div
                    class="d-flex justify-content-between align-items-center pb-2 mb-2 border-bottom"
                >
                    <div>
                    <small class="text-muted">Selected Store</small>
                    <h6 class="mb-0">
                        {{ selectedStore?.store || "None" }}
                    </h6>
                    </div>
                    <button *ngIf="!isStore" cButton class="btn btn-danger btn-sm text-muted" (click)="changeStore()">
                        <i class="fas fa-arrows-rotate"></i> Change
                    </button>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                    <small class="text-muted">Selected Coupon</small>
                    <h6 class="mb-0">
                        {{ selectedCoupon?.couponCode || "None" }}
                    </h6>
                    </div>
                    <button cButton class="btn btn-danger btn-sm text-muted" (click)="changeCoupon()">
                        <i class="fas fa-arrows-rotate"></i> Change
                    </button>
                    
                </div>
                </div>

                <h6 class="my-4">Define Contacts</h6>
                <div class="selection-area">
                <ul class="list-unstyled">
                    <li class="mb-2">
                    Store Contacts (Private):
                    <strong>{{ StoreContactCount }}</strong>
                    </li>
                    <li>
                    Public Contacts (Available):
                    <strong>{{ PublicContactCount > 0 ? PublicContactCount : 0 }}</strong>
                    (Contacts available under same store location)
                    </li>
                    </ul>

                <div class="d-flex gap-3 align-items-center mt-4">
                    <label for="contactsNeeded" class="form-label mb-0"
                    >No. of contacts for promotion:</label
                    >
                    <input
                    type="number"
                    cFormControl
                    class="form-control-sm"
                    id="contactsNeeded"
                    [(ngModel)]="contactsNeeded"
                    [max]="PublicContactCount"
                    min="0"
                    style="width: 100px; text-align: right"
                    (change)="checkContactsNeeded()"
                    />
                    <span>/ {{ PublicContactCount }}</span>
                </div>
                </div>
            </ng-container>
        </div>
    
    </c-modal-body>

    <c-modal-footer>
        <button cButton class="btn-sm" color="secondary" [cModalToggle]="FindStoreModal.id">Cancel</button>
        <button
            cButton
            type="button"
            class="btn-sm"
            color="primary"
            (click)="addContacts()"
            [disabled]="!selectedStore || !selectedCoupon || contactsNeeded <= 0 || contactsNeeded > PublicContactCount"
            [cModalToggle]="FindStoreModal.id"
        >
            Select Store
        </button>
    </c-modal-footer>

</c-modal>