
<c-card class="mb-3" *ngIf="shouldShowStoreCard() && storeData">
  <c-card-body class="d-flex align-items-center px-4 py-3">
    <div class="d-flex align-items-center">
      <!-- <img [src]="storeData.logo || 'assets/images/default-logo.webp'" alt="Store Logo" class="rounded me-3" width="60" height="60"> -->
      <div class="logo-box">
                 <img [src]="storeData?.logo" alt="Store Logo" >
            </div>
      <div>
        
        <h5 class="mb-1">{{ storeData.name }}</h5>
        <p class="mb-0 text-muted">
          <strong>Code:</strong> {{ storeData.code }}<br>
          <strong>Contact:</strong> {{ storeData.contact }}<br>
          <strong>Email:</strong> {{ storeData.email }}
        </p>
      </div>
    </div>
  </c-card-body>
</c-card>


<c-card class="mb-4">
    <c-card-header>
        <c-nav orientation="vertical" variant="tabs" class="px-2">
            <c-nav-item>
                <a cNavLink routerLink="counts-tabs" routerLinkActive="active">
                    <i class="fa-solid fa-ticket me-2"></i>
                    Overview
                </a>
            </c-nav-item>
            <c-nav-item>
                <a cNavLink routerLink="designed-coupons" routerLinkActive="active">
                    <i class="fa-solid fa-tags me-2"></i>
                    Designed Coupons
                </a>
            </c-nav-item>
            <c-nav-item>
                <a cNavLink routerLink="store-info" routerLinkActive="active">
                    <i class="fa-solid fa-store me-2"></i>   
                    Store Info
                </a>
            </c-nav-item>
            <c-nav-item>
                <a cNavLink routerLink="redeem-history" routerLinkActive="active">
                  <i class="fa-solid fa-clock-rotate-left me-2"></i>
                    Redeem History
                </a>
            </c-nav-item>
            <c-nav-item>
                <a cNavLink routerLink="promotion-history" routerLinkActive="active">
                    <i class="fa-solid fa-receipt me-2"></i>
                    Promotion History
                </a>
            </c-nav-item>
        </c-nav>
    </c-card-header>
    <c-card-body>
        <router-outlet></router-outlet>
    </c-card-body>
</c-card>