<c-modal #editStoreModal [scrollable]="true" alignment="center" id="editStoreModal">
    <c-modal-header>
        <h5 cModalTitle>Edit Store</h5>
        <button [cModalToggle]="editStoreModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <form cForm>
            <div class="mb-3">
                <label cLabel for="editStoreName">Store Name</label>
                <input aria-label="sm input example" cFormControl sizing="sm" type="text" id="editStoreName">
            </div>
            <div class="mb-3">
                <label cLabel for="editLogoInput">Logo</label>
                <div><img src="assets/images/angular.jpg" alt="CoreUI for Angular"></div>
                <input cFormControl id="editLogoInput" sizing="sm" type="file" />
            </div>
            <div class="mb-3">
                <label cLabel for="editCategorySelect">Category</label>
                <select class="form-control" name="location" id="editCategorySelect">
                    <option value="">Select Category</option>
                    <option value="">Lifestyle</option>
                    <option value="">Fashion</option>
                </select>
            </div>
            <div class="mb-3">
                <label cLabel for="editLocationSelect">Location</label>
                <select class="form-control" name="location" id="editLocationSelect">
                    <option value="">Select Location</option>
                    <option value="">Kadavanthra</option>
                    <option value="">Vytila</option>
                </select>
            </div>
            <div class="mb-3">
                <label cLabel for="editAddressTextarea">Address</label>
                <textarea cFormControl id="editAddressTextarea" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label cLabel for="editContactInput">Contact</label>
                <input aria-label="sm input example" cFormControl sizing="sm" type="text" id="editContactInput">
            </div>
            <div class="mb-3">
                <label cLabel for="editEmailInput">Email address</label>
                <input cFormControl id="exampleFormControlInput1" type="email" id="editEmailInput" />
            </div>
            <div class="mb-3">
                <label cLabel for="editTypeSelect">Type</label>
                <select class="form-control" name="location" id="editTypeSelect">
                    <option value="">Select Type</option>
                    <option value="">Offline</option>
                    <option value="">Online</option>
                </select>
            </div>
        </form>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="editStoreModal.id" cButton color="secondary">
            Close
        </button>
        <button cButton color="primary">Save</button>
    </c-modal-footer>
</c-modal>