<c-modal #editContactModal [scrollable]="true" alignment="center" id="editContactModal">
  <c-modal-header>
    <h5 cModalTitle>Edit Contact</h5>
    <button [cModalToggle]="editContactModal.id" cButtonClose></button>
  </c-modal-header>

  <c-modal-body>
   <form [formGroup]="editContactForm" cForm>

      <div class="mb-3">
        <label cLabel for="contactName">
          Name <span style="color: red">*</span>
        </label>
        <input
  id="contactName"
  type="text"
  cFormControl
  sizing="sm"
  placeholder="Enter name"
  class="form-control"
  (keypress)="validateNameInputs($event)"
  formControlName="Name"
/>

<div *ngIf="editContactForm.get('Name')?.touched && editContactForm.get('Name')?.invalid" class="text-danger">
          Name is required.
        </div>
      </div>

      <div class="mb-3">
        <label cLabel for="contactPhone">
          Phone Number <span style="color: red">*</span>
        </label>
       <input
  id="contactPhone"
  type="text"
  cFormControl
  sizing="sm"
  placeholder="Enter phone number"
  class="form-control"
  (keypress)="validatePhoneInputs($event)"
  formControlName="PhoneNumber"
  maxlength="10"
/>

 <div *ngIf="editContactForm.get('PhoneNumber')?.touched && editContactForm.get('PhoneNumber')?.invalid" class="text-danger">
          <div *ngIf="editContactForm.get('PhoneNumber')?.errors?.['required']">Phone number is required.</div>
          <div *ngIf="editContactForm.get('PhoneNumber')?.errors?.['pattern']">Enter a valid 10-digit phone number & start with 6-9.</div>
        </div>
      </div>

      <div class="mb-3">
        <label cLabel for="contactEmail">
          Email Address <span style="color: red">*</span>
        </label>
      <input
  id="contactEmail"
  type="email"
  cFormControl
  placeholder="name@example.com"
  class="form-control"
  formControlName="Email"
/>

<div *ngIf="editContactForm.get('Email')?.touched && editContactForm.get('Email')?.invalid" class="text-danger">
          <div *ngIf="editContactForm.get('Email')?.errors?.['required']">Email is required.</div>
          <div *ngIf="editContactForm.get('Email')?.errors?.['email']">Please enter a valid email address.</div>
        </div>
      </div>
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button [cModalToggle]="editContactModal.id" cButton color="secondary">Close</button>
    <button cButton color="primary" (click)="createContacts()">Save</button>
  </c-modal-footer>
</c-modal>
