<c-modal #verticallyCenteredScrollableModal
         [scrollable]="true"
         alignment="center"
         id="verticallyCenteredScrollableModal">
  <c-modal-header>
    <h5 cModalTitle>Add Contact</h5>
    <button [cModalToggle]="verticallyCenteredScrollableModal.id" cButtonClose></button>
  </c-modal-header>

  <c-modal-body>
    <form cForm>
      <div class="mb-3">
        <label cLabel for="nameInput">
          Name <span style="color: red">*</span>
        </label>
        <input
          id="nameInput"
          cFormControl
          type="text"
          placeholder="Enter name"
          sizing="sm"
          aria-label="Name input"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label cLabel for="phoneInput">
          Phone Number <span style="color: red">*</span>
        </label>
        <input
          id="phoneInput"
          cFormControl
          type="text"
          placeholder="Enter phone number"
          sizing="sm"
          aria-label="Phone number input"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label cLabel for="emailInput">
          Email Address <span style="color: red">*</span>
        </label>
        <input
          id="emailInput"
          cFormControl
          type="email"
          placeholder="name@example.com"
          aria-label="Email input"
          class="form-control"
        />
      </div>
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button [cModalToggle]="verticallyCenteredScrollableModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary">Save</button>
  </c-modal-footer>
</c-modal>
