<c-modal #verticallyCenteredScrollableModal
         [scrollable]="true"
         alignment="center"
         id="verticallyCenteredScrollableModal">

  <c-modal-header>
    <h5 cModalTitle>Add Contact</h5>
    <button #closeButton cModalToggle cButtonClose [cModalToggle]="verticallyCenteredScrollableModal.id" cButtonClose></button>
  </c-modal-header>

  <c-modal-body>
    <form [formGroup]="contactForm" cForm>
      <!-- Name Field -->
      <div class="mb-3">
        <label cLabel for="nameInput">Name <span style="color: red">*</span></label>
       <input
  formControlName="Name"
  id="nameInput"
  type="text"
  sizing="sm"
  placeholder="Enter name"
  class="form-control"
  (keypress)="validateNameInput($event)"
/>
        <div *ngIf="contactForm.get('Name')?.touched && contactForm.get('Name')?.invalid" class="text-danger">
          Name is required.
        </div>
      </div>

      <!-- Phone Field -->
      <div class="mb-3">
        <label cLabel for="phoneInput">Phone Number <span style="color: red">*</span></label>
       <input
  formControlName="PhoneNumber"
  id="phoneInput"
  type="text"
  sizing="sm"
  placeholder="Enter phone number"
  class="form-control"
  (keypress)="validatePhoneInput($event)"
/>
        <div *ngIf="contactForm.get('PhoneNumber')?.touched && contactForm.get('PhoneNumber')?.invalid" class="text-danger">
          <div *ngIf="contactForm.get('PhoneNumber')?.errors?.['required']">Phone number is required.</div>
          <div *ngIf="contactForm.get('PhoneNumber')?.errors?.['pattern']">Enter a valid 10-digit phone number & start with 6-9.</div>
        </div>
      </div>

      <!-- Email Field -->
      <div class="mb-3">
        <label cLabel for="emailInput">Email Address <span style="color: red">*</span></label>
        <input
          formControlName="Email"
          id="emailInput"
          type="email"
          placeholder="name@example.com"
          class="form-control"
        />
        <div *ngIf="contactForm.get('Email')?.touched && contactForm.get('Email')?.invalid" class="text-danger">
          <div *ngIf="contactForm.get('Email')?.errors?.['required']">Email is required.</div>
          <div *ngIf="contactForm.get('Email')?.errors?.['email']">Please enter a valid email address.</div>
        </div>
      </div>
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button [cModalToggle]="verticallyCenteredScrollableModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="createContact()">Save</button>
  </c-modal-footer>
</c-modal>
