<c-modal-header>
  <h5 cModalTitle>Edit User</h5>
  <button cModalToggle cButtonClose></button>
</c-modal-header>

<c-modal-body>
  <form cForm *ngIf="localUser">
    <div class="mb-3">
      <label cLabel for="firstName">First Name</label>
      <input cFormControl id="firstName" [(ngModel)]="localUser.firstName" name="firstName" type="text" />
    </div>

    <div class="mb-3">
      <label cLabel for="lastName">Last Name</label>
      <input cFormControl id="lastName" [(ngModel)]="localUser.lastName" name="lastName" type="text" />
    </div>

    <div class="mb-3">
      <label cLabel for="email">Email</label>
      <input cFormControl id="email" [(ngModel)]="localUser.email" name="email" type="email" />
    </div>

    <div class="mb-3">
      <label cLabel for="phoneNumber">Phone Number</label>
      <input cFormControl id="phoneNumber" [(ngModel)]="localUser.phoneNumber" name="phoneNumber" type="text" />
    </div>

    <div class="mb-3">
      <label cLabel for="type">Type</label>
      <select class="form-control" [(ngModel)]="localUser.type" name="type" id="type">
        <option [ngValue]="5">Admin</option>
        <option [ngValue]="3">User</option>
        <option [ngValue]="4">Store</option>
      </select>
    </div>


  </form>
</c-modal-body>

<c-modal-footer>
  <button cModalToggle cButton color="secondary">Cancel</button>
  <button cModalToggle cButton color="primary" (click)="saveChanges()">Save</button>
</c-modal-footer>