<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header>
            <strong>Users</strong>
        </c-card-header>
        <c-card-body>
            <table [hover]="true" cTable>
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <input type="text" placeholder="Filter FirstName" class="form-control" />
                        </th>
                        <th>
                            <input type="text" placeholder="Filter LastName" class="form-control" />
                        </th>
                        <th>
                            <input type="text" placeholder="Filter Email" class="form-control" />
                        </th>
                        <th>
                            <input type="text" placeholder="Filter UserName" class="form-control" />
                        </th>
                         <th>
                            <input type="text" placeholder="Filter PhnNumber" class="form-control" />
                        </th>
                        <th>
                            <input type="text" placeholder="Filter Status" class="form-control" />
                        </th>
                        <th>
                            <input type="text" placeholder="Filter Type" class="form-control" />
                        </th>
                        <th>
                            <input type="text" placeholder="Filter Active" class="form-control" />
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Phn Number</th>
                        <th scope="col">Status</th>
                        <th scope="col">Type</th>
                        <th scope="col">Active</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Mark</td>
                        <td>Mark</td>
                        <td>Mark</td>
                        <td>Mark</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>&#64;mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>&#64;fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colSpan="2">Larry the Bird</td>
                        <td>&#64;twitter</td>
                    </tr>
                </tbody>
            </table>
        </c-card-body>
    </c-card>
</c-col>