<c-modal #verticallyCenteredScrollableModal [scrollable]="true" alignment="center"
    id="verticallyCenteredScrollableModal">
    <app-add-user-modal></app-add-user-modal>
</c-modal>

<c-modal #editUserModal alignment="center" id="editUserModal">
    <app-edit-user-modal [user]="selectedUser"></app-edit-user-modal>
</c-modal>

<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header class="d-flex justify-content-between align-items-center">
            <strong>Users</strong>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary px-4 py-2 text-nowrap"
                    [cModalToggle]="verticallyCenteredScrollableModal.id">
                    Add User
                </button>
            </div>
        </c-card-header>

        <c-card-body>
            <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-4">

                <div style="
                            border: 1px solid #ffffff;
                            margin-top: 12px;
                            border-radius: 6px;
                            margin-bottom: 1px;
                            padding: 12px;
                            background-color: #ffffff;
                            ">
                    <div style="display: flex; gap: 12px;">
                        <select class="form-control custom-select-wide">
                            <option value="">🧩 Select Type</option>
                            <option value="Admin">🛡️ Admin</option>
                            <option value="User">👤 User</option>
                        </select>
                    </div>
                </div>

                <div
                    style="border: 1px solid #ced4da; margin-top: 12px; border-radius: 6px; margin-bottom: 1px; padding: 12px; background-color: #f8f9fa;">

                    <input type="text" class="form-control d-inline-block" placeholder="🔍 Search By..."
                        style="width: 270px; display: inline-block; margin-right: 12px;" />

                    <select id="searchField" class="form-control d-inline-block"
                        style="width: 160px; display: inline-block;">
                        <option value="select0">All</option>
                        <option value="select1">FirstName</option>
                        <option value="select2">LastName</option>
                        <option value="select3">Email</option>
                        <option value="select4">Phone No.</option>
                    </select>
                </div>

                <div style="
                        border: 1px solid #ffffff;
                        margin-top: 12px;
                        border-radius: 6px;
                        margin-bottom: 1px;
                        padding: 12px;
                        background-color: #ffffff;
                        ">
                    <div style="display: flex; gap: 12px;">

                        <select id="status" class="form-control custom-select-wide">
                            <option value="">🔘 Select Status</option>
                            <option value="district1">🟢 Active</option>
                            <option value="district2">🔴 Inactive</option>
                        </select>

                    </div>
                </div>

                <div
                    style="border: 1px solid #ffffff; margin-top: 12px; border-radius: 6px; margin-bottom: 1px; padding: 12px; background-color: #ffffff;">

                    <button type="button" class="btn btn-danger btn-sm text-white" title="Reset">
                        <i class="fas fa-arrows-rotate"></i>
                    </button>
                </div>

            </div>

            <table [hover]="true" cTable class="responsive-table">
                <thead>
                    <th>

                    </th>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone No.</th>
                        <th scope="col">Type</th>
                        <th scope="col">Active</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let user of users; let i = index">
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phoneNumber }}</td>
                            <td>{{ user.type }}</td>
                            <td data-label="Active">
                                <c-form-check [switch]="true">
                                    <input cFormCheckInput checked type="checkbox" />
                                </c-form-check>
                            </td>
                            <td data-label="">
                                <button class="btn btn-sm btn-outline-primary" [cModalToggle]="'editUserModal'"
                                    (click)="openEditUserModal(user)">
                                    <i class="fas fa-pen"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </c-card-body>
    </c-card>
</c-col>