<c-modal #verticallyCenteredScrollableModal [scrollable]="true" alignment="center"
    id="verticallyCenteredScrollableModal">
    <app-add-user-modal></app-add-user-modal>
</c-modal>

<c-modal #editUserModal alignment="center" id="editUserModal">
    <app-edit-user-modal [user]="selectedUser"></app-edit-user-modal>
</c-modal>

<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header class="d-flex justify-content-between align-items-center">

            <strong class="fs-5">Users</strong>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary btn-sm px-3 py-1 text-nowrap"
                    [cModalToggle]="verticallyCenteredScrollableModal.id">
                    Add User
                </button>
            </div>
        </c-card-header>

        <c-card-body>
            <div class="d-flex justify-content-start align-items-center mb-4 flex-wrap gap-2">
                <select class="form-select form-select-sm" style="max-width: 180px;" name="searchBy"
                    [(ngModel)]="searchType" (change)="FilterUser()">
                    <option value="5">All</option>
                    <option value="1">First Name</option>
                    <option value="2">Last Name</option>
                    <option value="3">Email</option>
                    <option value="4">Phone No.</option>
                </select>

                <input type="text" class="form-control form-control-sm" style="max-width: 280px"
                    placeholder="🔍 Search By..." aria-label="Search by " [(ngModel)]="searchText"
                    (input)="FilterUser()" />



                <select class="form-select form-select-sm" style="max-width: 180px;" name="searchBy"
                    [(ngModel)]="userType" (change)="FilterUser()">
                    <option value="0">🧩 All Type</option>
                    <option value="5">🛡️ Admin</option>
                    <option value="3">👤 User</option>
                    <option value="4">🏬 Store</option>

                </select>

                <select class="form-select form-select-sm" style="max-width: 180px;" name="searchBy"
                    [(ngModel)]="statusFilter" (change)="onStatusChange()">
                    <option value="">🔘 All Status</option>
                    <option value="true">🟢 Active</option>
                    <option value="false">🔴 Inactive</option>
                </select>


                <button type="button" class="btn btn-danger btn-sm text-white" title="Reset" (click)="reset()">
                    <i class="fas fa-arrows-rotate"></i>
                </button>
            </div>

            <div *ngIf="isLoading" class="d-flex justify-content-center my-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div *ngIf="!isLoading" class="table-responsive">


                <table [hover]="true" cTable class="responsive-table">
                    <thead>
                        <th>

                        </th>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone No.</th>
                            <th scope="col">Type</th>
                            <th scope="col">Active</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="users.length > 0; else noData">
                            <ng-container *ngFor="let user of users; let i = index">
                                <tr>
                                    <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                                    <td>{{ user.firstName }}</td>
                                    <td>{{ user.lastName }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phoneNumber }}</td>
                                    <td>{{ user.type }}</td>
                                    <td data-label="Active">
                                        <c-form-check [switch]="true">
                                            <input cFormCheckInput type="checkbox" [checked]="user.isActive"
                                                (change)="onToggleUserStatus(user)" />
                                        </c-form-check>
                                    </td>
                                    <td data-label="">
                                        <button class="btn btn-sm btn-outline-primary" [cModalToggle]="'editUserModal'"
                                            (click)="openEditUserModal(user)">
                                            <i class="fas fa-pen"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>

                        <ng-template #noData>
                            <tr>
                                <td colspan="8" class="text-center text-muted py-4">
                                    <i class="fas fa-info-circle me-2"></i> No data found
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>

                </table>
            </div>
            <!-- Pagination Component -->
            <app-pagination *ngIf="!isLoading" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
                [currentPage]="currentPage" (pageChange)="onPageChange($event)"
                (itemsPerPageChange)="itemsPerPage = $event; onPageChange(1)">
            </app-pagination>
        </c-card-body>
    </c-card>
</c-col>