<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header class="d-md-flex justify-content-md-between align-items-center">
            <strong class="w-100">Redeem History</strong>
            <div class="d-grid gap-4 d-sm-flex justify-content-md-end w-100">
                
                <div class="">
                    <button class="btn btn-sm btn-outline-primary d-flex align-items-center" data-bs-toggle="tooltip" title="Download History">
                        <svg cIcon name="cil-cloud-download" size="lg"></svg> &nbsp; Download
                    </button>
                    
                </div>
            </div>
        </c-card-header>
        <c-card-body>
            <!-- <div class="d-md-flex justify-content-md-end">
                <div class="d-flex gap-4 align-items-center m-3">
                    <strong class="w-md-50">Store: </strong>
                    <select class="form-control w-100" (change)="onStoreChange($event)">
                        <option value="">All</option>
                        <option value="Relience Thpzha">Relience Thpzha</option>
                        <option value="More Koothattkulam">More Koothattkulam</option>
                    </select>
                </div>
            </div> -->
            <form [formGroup]="filterForm">
                <div class="d-md-flex justify-content-between m-3">
                    <div class="d-flex gap-4 align-items-center m-2">
                        <strong class="w-md-50">District: </strong>
                        <select class="form-control w-100" (change)="districtChange($event)" formControlName="district">
                            <option value=0>All</option>
                            <option *ngFor="let district of districts" [value]="district.id">{{ district.districtName }}</option>
                        </select>
                    </div>
                    <div class="d-flex gap-4 align-items-center m-2">
                        <strong class="w-md-50">Location: </strong>
                        <!-- <select class="form-control w-100" [(ngModel)]="selectedDistirctId"> -->
                        <select class="form-control w-100" formControlName="location">
                            <option value=0>All</option>                        
                            <!-- <option *ngFor="let location of getLocations(selectedDistirctId)">{{ location.locationName }}</option> -->
                            <option *ngFor="let location of getLocations()">{{ location.locationName }}</option>

                        </select>
                    </div>
                    <div class="d-flex align-items-center gap-4 m-2">
                        <strong>From: </strong>
                        <input type="date" class="form-control" formControlName="from" />
                    </div>
                    <div class="d-flex align-items-center gap-4 m-2">
                        <strong>To: </strong>
                        <input type="date" class="form-control" formControlName="to" />
                    </div>
                </div>
                <div class="d-md-flex justify-content-between m-3 mb-5 gap-5">
                    <button class="btn btn-sm btn-outline-primary w-50" title="Search">
                        <i class="fas fa-search"></i> Search
                    </button>
                    <button class="btn btn-sm btn-outline-danger w-50" title="Reset">
                        <i class="fas fa-arrows-rotate"></i> Reset
                    </button>
                </div>
            </form>
            <table [hover]="true" cTable class="responsive-table">
                <thead>
                    
                    <tr class="">
                        <th scope="col" data-label="#"> </th>
                        <th scope="col" data-label="District Name">
                            Coupon Code
                            <svg [cIcon]="icons.cilSortAlphaUp"></svg>
                        </th>
                        <th scope="col" data-label="Location Name">
                            Coupon Name
                            <svg [cIcon]="icons.cilSortAlphaUp"></svg>
                        </th>
                        <th scope="col" data-label="Pincode">
                            User
                            <svg [cIcon]="icons.cilSortAlphaUp"></svg>
                        </th>
                        <th scope="col" data-label="Latitude">
                            Store
                            <svg [cIcon]="icons.cilSortAlphaUp"></svg>
                        </th>
                        <th scope="col" data-label="Longitude">
                            Redeem Date
                            <svg [cIcon]="icons.cilSortAlphaUp"></svg>
                        </th>
                    </tr>

                    <tr>
                        <th data-label="#"></th>
                        <th data-label="Coupon Code Filter">
                            <div class="d-flex align-items-center">
                                <input type="text" placeholder="Coupon Code" [(ngModel)]="filterCouponCode" class="form-control" />
                                
                            </div>
                        </th>
                        <th data-label="Coupon Name Filter">
                            <div class="d-flex align-items-center">
                                <input type="text" placeholder="Coupon Name" [(ngModel)]="filterCouponName" class="form-control" />
                                
                            </div>
                        </th>
                        <th data-label="User Filter">
                            <input type="text" placeholder="Filter Users" [(ngModel)]="filterUsers" class="form-control" />
                        </th>
                        <th data-label="Store Filter">
                            <input type="text" placeholder="Filter Stores" [(ngModel)]="filterStores" class="form-control" />
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let red of redeems | filterstore: filterStores | filteruser: filterUsers | filtercouponname: filterCouponName | filtercouponcode: filterCouponCode; let i = index">
                        <tr>
                            <td data-label="#">{{ i+1 }}</td>
                            <td data-label="District Name">
                                {{ red.couponCode }}
                            </td>
                            <td data-label="Location Name">{{ red.couponName }}</td>
                            <td data-label="Pincode">{{ red.userName }}</td>
                            <td data-label="Latitude">{{ red.storeName }}</td>
                            <td data-label="">{{ red.redeemDate }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </c-card-body>
    </c-card>
</c-col>