<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header class="d-flex justify-content-between align-items-center">
            <strong>Redeem History</strong>
            <div class="d-grid gap-4 d-md-flex justify-content-md-end">
                <div class="d-flex align-items-center gap-3">
                    <strong>From: </strong>
                    <input type="date" class="form-control" />
                </div>
                <div class="d-flex align-items-center gap-3">
                    <strong>To: </strong>
                    <input type="date" class="form-control" />
                </div>
                <div class="d-flex align-items-center gap-3">
                    <button class="btn btn-sm btn-outline-dark" data-bs-toggle="tooltip" title="Download History">
                        <svg cIcon name="cil-cloud-download" size="lg"></svg>
                    </button>
                    
                </div>
            </div>
        </c-card-header>
        <c-card-body>
            <div class="gap-4 d-md-flex align-items-center justify-content-md-end w-50 m-3">
                <strong>Choose Store: </strong>
                <select class="form-control w-50">
                    <option value="">Select District</option>
                    <option value="district1">District 1</option>
                    <option value="district2">District 2</option>
                    <option value="district3">District 3</option>
                    <option value="district1">District 1</option>
                </select>
            </div>
            <table [hover]="true" cTable class="responsive-table">
                <thead>
                    
                    <tr>
                        <th scope="col" data-label="#"> </th>
                        <th scope="col" data-label="District Name">Coupon Code</th>
                        <th scope="col" data-label="Location Name">Coupon Name</th>
                        <th scope="col" data-label="Pincode">User</th>
                        <th scope="col" data-label="Latitude">Store</th>
                        <th scope="col" data-label="Longitude">Redeem Date</th>
                    </tr>

                    <tr>
                        <th data-label="#"></th>
                        <th data-label="Coupon Code Filter">
                            <div class="d-flex align-items-center">
                                <input type="text" placeholder="Coupon Code" class="form-control" />
                                
                            </div>
                        </th>
                        <th data-label="Coupon Name Filter">
                            <div class="d-flex align-items-center">
                                <input type="text" placeholder="Coupon Name" class="form-control" />
                                
                            </div>
                        </th>
                        <th data-label="Pincode Filter">
                            <input type="text" placeholder="Filter Pincode" class="form-control" />
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let loc of locations; let i = index">
                        <tr>
                            <td data-label="#">{{ i+1 }}</td>
                            <td *ngIf="shouldShowDistrict(i)" [attr.rowspan]="getDistrictRowspan(i)"
                                data-label="District Name">
                                {{ loc.district }}
                            </td>
                            <td data-label="Location Name">{{ loc.location }}</td>
                            <td data-label="Pincode">{{ loc.pincode }}</td>
                            <td data-label="Latitude"></td>
                            <td data-label="Longitude"></td>
                            <td data-label="Active">
                                <c-form-check [switch]="true">
                                    <input cFormCheckInput checked type="checkbox" />
                                </c-form-check>
                            </td>
                            <td data-label=""></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </c-card-body>
    </c-card>
</c-col>