::ng-deep .wide-modal .modal-dialog {
  max-width: 1300px;
}

::ng-deep .img{
    width: 50px;
    height: 50px;
}

::ng-deep .card-img-top {
  width: 50%;
  height: auto;
}

.loading-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  z-index: 10;
}
