<c-modal #verticallyCenteredScrollableModal [scrollable]="true" alignment="center" id="verticallyCenteredScrollableModal" class="wide-modal">
  <c-modal-header>
    <h5 cModalTitle>Add Store</h5>
    <button #closeButton cModalToggle cButtonClose></button>
  </c-modal-header>

  <c-modal-body>
    <form cForm [formGroup]="addStoreForm">
      <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
          <div class="mb-3">
            <label cLabel for="storeName">Store Name</label><span class="text-danger">*</span>
            <input cFormControl sizing="sm" type="text" id="storeName" formControlName="storeName">
            <div *ngIf="addStoreForm.get('storeName')?.touched && addStoreForm.get('storeName')?.invalid">
              <span class="text-danger" *ngIf="addStoreForm.get('storeName')?.errors?.['required']"> store name is required. </span>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-6">
              <label cLabel for="districtSelect">District</label><span class="text-danger">*</span>
              <select class="form-select form-select-sm" id="districtSelect" formControlName="district" (change)="selectLocationByDistrict()">
                <option value="">Select District</option>
                <option *ngFor="let district of districts" [value]="district.id"> {{district.districtName}}</option>
              </select>
              <div *ngIf="addStoreForm.get('district')?.touched && addStoreForm.get('district')?.invalid">
                <span class="text-danger" *ngIf="addStoreForm.get('district')?.errors?.['required']"> *choose the district. </span>
              </div>
            </div>
            <div class="col-6">
              <label cLabel for="locationSelect">Location</label><span class="text-danger">*</span>
              <select class="form-select form-select-sm" id="locationSelect" formControlName="storeLocation">
                <option value="">{{default}}</option>
                <option *ngFor="let location of locations" [value]="location.id"> {{location.locationName}}</option>
              </select>
              <div *ngIf="addStoreForm.get('storeLocation')?.touched && addStoreForm.get('storeLocation')?.invalid">
                <span class="text-danger" *ngIf="addStoreForm.get('storeLocation')?.errors?.['required']"> *choose the location. </span>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label cLabel for="contactInput">Contact</label><span class="text-danger">*</span>
            <input cFormControl sizing="sm" type="text" id="contactInput" formControlName="storeContact" (keypress)="allowOnlyNumbers($event)">
            <div *ngIf="addStoreForm.get('storeContact')?.touched && addStoreForm.get('storeContact')?.invalid">
              <span class="text-danger" *ngIf="addStoreForm.get('storeContact')?.errors?.['required']"> *contact is required. </span>
              <span class="text-danger" *ngIf="addStoreForm.get('storeContact')?.errors?.['pattern']"> *contact should contain 10 digits. </span>
            </div>
          </div>
          <div class="mb-3">
            <label cLabel for="emailInput">Email address</label><span class="text-danger">*</span>
            <input cFormControl id="emailInput" sizing="sm" type="email" formControlName="storeEmail" />
            <div *ngIf="addStoreForm.get('storeEmail')?.touched && addStoreForm.get('storeEmail')?.invalid">
              <span class="text-danger" *ngIf="addStoreForm.get('storeEmail')?.errors?.['required']"> *email is required. </span>
              <span class="text-danger" *ngIf="addStoreForm.get('storeEmail')?.errors?.['strictEmail'] && addStoreForm.get('storeEmail')?.touched">
              Please enter a valid email address with a domain</span>
            </div>
          </div>
          <div class="mb-3">
            <label cLabel for="typeSelect">Type</label>
            <select class="form-select form-select-sm" id="typeSelect" formControlName="storeType">
              <option value="">Select Type</option>
              <option value="2">Offline</option>
              <option value="1">Online</option>
            </select>
            <div *ngIf="addStoreForm.get('storeType')?.touched && addStoreForm.get('storeType')?.invalid">
              <span class="text-danger" *ngIf="addStoreForm.get('storeType')?.errors?.['required']"> *choose store type. </span>
            </div>
          </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-6">
          <div class="mb-3">
            <label cLabel for="logoInput">Logo</label><span class="text-danger">*</span>
            <input cFormControl id="logoInput" sizing="sm" type="file" (change)="onFileSelected($event)" formControlName="storeLogo" />
            <div *ngIf="addStoreForm.get('storeLogo')?.touched && addStoreForm.get('storeLogo')?.invalid">
              <span class="text-danger" *ngIf="addStoreForm.get('storeLogo')?.errors?.['required']"> *store logo is required. </span>
            </div>
          </div>
          <div class="mb-3">
            <label cLabel for="categorySelect">Category</label><span class="text-danger">*</span>
            <select class="form-select form-select-sm" id="categorySelect" formControlName="storeCategory">
              <option value="">Select Category</option>
              <option *ngFor="let category of categories" [value]="category.id"> {{category.name}}</option>
            </select>
            <div *ngIf="addStoreForm.get('storeCategory')?.touched && addStoreForm.get('storeCategory')?.invalid">
              <span class="text-danger" *ngIf="addStoreForm.get('storeCategory')?.errors?.['required']"> *choose the category. </span>
            </div>
          </div>
          <div class="mb-3">
            <label cLabel for="addressTextarea">Address</label><span class="text-danger">*</span>
            <textarea
              cFormControl
              id="addressTextarea"
              rows="6"
              formControlName="storeAddress"
              style="resize: none; height: 109px;"
            ></textarea>
            <div *ngIf="addStoreForm.get('storeAddress')?.touched && addStoreForm.get('storeAddress')?.invalid">
              <span class="text-danger" *ngIf="addStoreForm.get('storeAddress')?.errors?.['required']"> *store address is required. </span>
            </div>
          </div>
          <div class="mb-3">
            <label cLabel for="userIdSelect">Store User</label>
            <select class="form-select form-select-sm" id="userIdSelect" formControlName="userId">
              <option *ngFor="let user of users" [value]="user.id">{{ user.firstName }} {{ user.lastName }} ({{ user.email }})</option>
              <option value=0>Select User ID</option>
            </select>
            <div *ngIf="addStoreForm.get('userId')?.touched && addStoreForm.get('userId')?.invalid">
              <span class="text-danger" *ngIf="addStoreForm.get('userId')?.errors?.['required']"> *choose store user ID. </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button [cModalToggle]="verticallyCenteredScrollableModal.id" cButton color="secondary" (click)="resetForm()">
      Close
    </button>
    <button cButton color="primary" (click)="createStore()">Save</button>
  </c-modal-footer>
</c-modal>
